{% extends "base.html" %}
{% load static %}
{% load i18n parler_tags %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<ul>
    {% for lang_code, title in LANGUAGES %}
        {% get_language_info for lang_code as lang %}
        {% get_translated_url lang_code as tr_url %}
        {% if tr_url %}<li{% if lang_code == LANGUAGE_CODE %} class="is-selected"{% endif %}><a href="{{ tr_url }}" hreflang="{{ lang_code }}">{{ lang.name_local|capfirst }}</a></li>{% endif %}
    {% endfor %}
</ul>
{% for lang_code, title in LANGUAGES %}
    {% get_translated_url lang_code as tr_url %}
    {% if tr_url %}<link rel="alternate" hreflang="{{ lang_code }}" href="{{ tr_url }}" />{% endif %}
{% endfor %}

<div class="jumbotron-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
url({% static 'home/img/cata-hero.jpg' %})">
    <div class="jumbotron-left">
        {% for index in index %}
        <h2 class="jumbotron-header">{{ index.text_title_hero|linebreaksbr }}</h2>
        
        <p>{{ index.text_small_hero|linebreaksbr }}</p>
                <a href="https://timbu.com/search?query=hotel" class="btn btn-fill btn-large">{{ index.book_now|linebreaksbr }}</a>
    </div>

   <!--  SAVED FOR LATTER TO BE DONE
     <div class="jumbotron-right">
        <form action="" class="jumbotron-form">
           
                <h3>Scared you can't afford it?</h3><br>
                <p>Don't worry, our hotel offers the best<br> affordable rates you can ever find.</p>
                <label class="hide" for="arrival">arrival date</label>
                <input type="text" id="arrival" name="arrival_date" placeholder="Arrival Date" onfocus="(this.type='date')" ><br>
                <label class="hide" for="departure">departure date</label>
                <input type="text"  id="departure" name="departure_date" placeholder="Departure Date" onfocus="(this.type='date')" ><br>
                <label class="hide" for="guests">how many guests</label>
                <input type="text" id="guests" name="guests" placeholder="Guests"><br>
                <label class="hide" for="children">children</label>
                <input type="text" id="children" name="children" placeholder="Children"><br>
                <button type="button" class="rates">CHECK RATES</button>
        </form>
    </div>-->
</div> 

<!-- Enjoy your stay in our hotel -->
<div class="enjoy-container">
    <div class="enjoy-header">
        <h2 class="enjoy-heading">{{ index.title_2|linebreaksbr }}</h2>
        
        <hr class="horizontal">
        <p>{{ index.small_2|linebreaksbr }}</p>
    </div>
    <div class="enjoy-services">
        <div class="first-col">
            <div class="upper">
                <span>
                    <img src="{% static 'home/img/clock.svg' %}" alt="clock icon" class="enjoy__clock-icon">
                </span>
                <h3>{{ index.first_Of_4_title|linebreaksbr }}</h3>
                <p>{{ index.first_Of_4_subtitle|linebreaksbr }}</p>
            </div>
            <div class="lower">
                <span>
                    <img src="{% static 'home/img/database.svg' %}" alt="fitness icon" class="enjoy__fitness-icon">
                </span>
                <h3>{{ index.third_Of_4_title|linebreaksbr }}</h3>
                <p>{{ index.third_Of_4_subtitle|linebreaksbr }}</p>
            </div>

        </div>
        <div class="sec-col">
            <div class="upper">
                <span>
                    <img src="{% static 'home/img/coffee.svg' %}" alt="coffee icon" class="enjoy__coffee-icon">
                </span>
                <h3>{{ index.second_Of_4_title|linebreaksbr }}</h3>
                <p>{{ index.second_Of_4_subtitle|linebreaksbr }}</p>
            </div>
            <div class="lower">
                <span>
                    <img src="{% static 'home/img/wifi.svg' %}" alt="wifi icon" class="enjoy__wifi-icon">
                </span>
                <h3>{{ index.fourth_Of_4_title|linebreaksbr }}</h3>
                <p>{{ index.fourth_Of_4_subtitle|linebreaksbr }}</p>
            </div>
        </div>
        <div class="third-col cont">
            <img src="{% static  'home/img/ant-design_play-circle-filled.svg' %}" alt="video play icon" class="enjoy__play-icon">
            <img src="{% static  'home/img/video link.webp' %}" alt="women in swimming pool" class="third-col-video">
        </div>
    </div>

</div>
<section class="special-offers">
    <!-- Top Text -->
    <div class="page-header-container">

        <h2 class="page-header">Simplicity is the ultimate <br>Watchword</h2>


    </div>
    <div class="row center-lg">
        <div class="col image-col right-marg">
            <img src="{% static  'home/img/hotel-1.webp' %}" alt="room-image" class="small-image">
            <img src="{% static  'home/img/hotel-2.webp' %}" alt="room-image" class="small-image">
            <img src="{% static  'home/img/hotel-3.webp' %}" alt="room-image" class="small-image img-hide">
            <div class="side-by-side-container">
                <div class="large-image-container">
                    <img src="{% static  'home/img/hotel-4-large.webp' %}" alt="room-image-large" class="large-image">
                </div>
                <section class="stacked-image-container">
                    <div><img src="{% static  'home/img/hotel-5.webp' %}" alt="room-image" class="small-image"></div>
                    <div><img src="{% static  'home/img/hotel-6.webp' %}" alt="room-image" class="small-image"></div>
                </section>
            </div>
        </div>
        <div class="col">
            <p class="offers-sub-title">
                The fact that we are run by hospitality professionals<br>and equipped with the world best interior
                designers <br> is why our rooms and suites are second to none in <br>the universe
            </p>
            <ul class="offers-list">
                <li>
                    <div>
                        <img src="{% static  'home/img/check-square.svg' %}" alt="tick" class="list-icon">
                        <p class="list-text">Standard Room</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static  'home/img/check-square.svg' %}" alt="tick" class="list-icon">
                        <p class="list-text">Executive Room</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static  'home/img/check-square.svg' %}" alt="tick" class="list-icon">
                        <p class="list-text">King Suite</p>
                    </div>
                </li>
            </ul>
            <a href="https://timbu.com/search?query=hotel" class="btn btn-fill btn-large centered">{{ index.book_now|linebreaksbr }}</a>
        </div>
    </div>
</section>

<!-- Client Reviews -->
<div class="review-container">
    <div class="review-header">
        <h2 class="review-title">
            Client Reviews
        </h2>
        <hr class="horizontal">
        <p class="">We are very proud of the services we offer to our customers.<br>Read every word from our happy
            customers.</p>
    </div>
    <div class="cards-container">
        <div class="card">
            <img src="{% static  'home/img/customer1.webp' %}" alt="" class="card-avi">
            <h2 class="card-title">
                Mark Essien
            </h2>
            <h3 class="card-subtitle">
                Lagos, Nigeria.
            </h3>
            <p class="card-desc">Words can't explain the kind of treatment I received from the management of star
                hotels. They are the best in the country.</p>
        </div>
        <div class="card">
            <img src="{% static  'home/img/customer2.webp' %}" alt="" class="card-avi">
            <h2 class="card-title">
                Seyi Onifade
            </h2>
            <h3 class="card-subtitle">
                Lagos, Nigeria.
            </h3>
            <p class="card-desc">Star hotels makes you feel the best room quality that makes you feel the comfort of a
                home.</p>
        </div>
        <div class="card">
            <img src="{% static  'home/img/customer3.webp' %}" alt="" class="card-avi">
            <h2 class="card-title">
                Fayemi David
            </h2>
            <h3 class="card-subtitle">
                Lagos, Nigeria.
            </h3>
            <p class="card-desc">My Family and I are very happy when we lodge into star hotels. They are by far the best
                in the universe.</p>
        </div>


    </div>
</div>
{% endfor %}
{% endblock %}

{% block extra_js %}
{% endblock %}