{% load static %}
<!doctype html>
<html class="no-js" lang="ro">

<head>

    {% block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dream Studio Flats">
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Dream Studio Flats" />
    <meta property="og:description" content="Proprietatea este situata în centrul orașului Buftea, foarte aproape de Domeniul Știrbei,
        aeroportul Otopeni și București, pe șoseaua București-Târgoviște, în imediata apropiere de Penny Market,
        Mega Image, spălătorie auto, vulcanizare, centru, etc.
        Studio apartmentele oferite sunt dotate și echipate cu toate dotările unui hotel de lux." />
    <meta property="og:image" content="" />


    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block firstjs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
        integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/global-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/global-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/accesibility.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    <title>Dream Studio Flats</title>
</head>

<body class="scroll-bar">
    <div id="loader">
        <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#d4af37"
                d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
                    to="360 50 50" repeatCount="indefinite" />
            </path>
        </svg>
    </div>
    <header>
        {% for nav in topnav %}
        <div class="header-container">
            <nav class="header-nav-bar">
                <div class="header-nav-logo">
                    <a href="{% url 'home' %}">
                        <img src="{{ nav.site_logo.url }}"
                            alt="Dream Studio Flats Logo">
                    </a>
                </div>
                
                <ul class="header-nav-lists">
                    <li class="header-nav-list">
                        <a class="header-nav-link header-active" href="{% url 'home' %}">{{ nav.home }}</a>
                    </li>
                    <li class="header-nav-list"><a class="header-nav-link" href="rooms-and-suites.html">{{ nav.rooms_and_suites }}</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="facilities.html">{{ nav.facilities }}</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="contact-page.html">{{ nav.contact_us }}</a></li>
                    <li class="header-nav-list"><a class="header-btn header-btn-custom"
                            href="https://timbu.com/search?query=hotel">{{ nav.book_now }}</a></li>
                </ul>

                <div class="header-hamburger-icon">
                    <div class="header-hamburger-line-1"></div>
                    <div class="header-hamburger-line-2"></div>
                    <div class="header-hamburger-line-3"></div>
                </div>
            </nav>
        </div>
        </div>
        {% endfor %}
    </header>

    {% if messages %}
    <div class="grid-container page-toasts">
        {% for message in messages %}
        <script type=text/javascript>$(document).ready(function onDocumentReady() {toastr.{{ message.tags }}('{{ message }}')});
        </script>
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block corejs %}
    <script defer async>
		(() => {
			const loader = document.getElementById('loader');
			const scrollBar = document.getElementsByClassName('scroll-bar')[0];
			window.addEventListener('load', () => {
				loader.classList.add('none');
				scrollBar.classList.remove('scroll-bar')
			});
		})();
	</script>
    <script  defer async src="{% static 'js/toggleHamburger.js' %}"></script>
    {% endblock %}


    {% block postloadjs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>